@import url('https://allfont.net/allfont.css?fonts=star-jedi');
/* Using Star Wars font from https://allfont.net/download/star-jedi/ */

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    background-color: #000000;
    font-family: 'Star Jedi', Arial, sans-serif;
}

@font-face {
    font-family: 'Star Jedi', arial;
    src: url('https://allfont.net/allfont.css?fonts=star-jedi') format('woff2');
}

.navbar {
    background-color: transparent;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    align-items: center;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.navbar-nav {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 10px;
    padding: 10px;
    background-color: transparent;
}

.nav-item {
    padding: 1rem;
    background-color: transparent;
    border-radius: 0.25rem;
    margin-right: 10px;
    color: #ffffff;
}

.nav-link {
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 400;
    transition: all 0.9s linear;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.nav-link:hover {
    text-decoration: underline;
    color: #88e7ff;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    transform: scale(1.1);

}

body {
    margin-top: 60px;
}



.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    padding: 5rem;
}

.card {
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: transparent;
    border-radius: 20px;
}

p {
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: transparent;
    border-radius: 0.25rem;
    text-align: center;
    max-width: fit-content;
    border-radius: 20px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 22px;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    border: 0;
    font-weight: 100;
}

h1 {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: transparent;
    text-align: center;
    max-width: fit-content;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    border: 0;
}

button {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 1rem;
    border: 1px solid #e0e0e0;
    padding: 1rem;
    background-color: transparent;
    border-radius: 0.25rem;
    text-align: center;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #ffffff;
    transition: all 0.3s linear;
    max-width: fit-content;
    border-radius: 20px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    border: 0;
}

button:hover {
    background-color: #88e7ff;
    color: #000000;
    border: 1px solid #88e7ff;
    text-decoration: none;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    transform: scale(1.1);
}


h3 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: transparent;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    border: 0;
}